html{
    scroll-behavior: smooth;
}
.nav{
    margin-top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #443d3d;
    z-index: 100000000;
}

.nav h2 {
    color: #fff;
    font-size: 1.7rem;

}
.nav .logo a{
    display: flex;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-image: url('grp16..png');
    background-size: cover;
    

}
#item{
    padding-right: 25%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
#item li{
    list-style: none;
    padding-right: 50px;
}
#item li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}
#item li a:hover, #item .icon i:hover{
    color: #f95;
    cursor: pointer;
    background-color: #fff;


}
.back{
    background-image: url('hostel.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mid p{
    color: #0addec;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.4rem;
}
.mid h2{
    color: #fff;
    font-size: 3rem;

}

.mid .btn{
margin-top: 2rem;
}
.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;

}
.mid .btn a.simple{
    border-radius: 3px;
    color: #fff;
    border: 1px solid #f5800b;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    
}
.mid .btn a.simple:hover{
    color:#fff;
    border:1px solid #f5800b;
    background-color: #f5800b;
    
}

.mid .btn a.border{
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius: 3px;
    
}
.mid .btn a.border:hover{
    background-color: #fff;
    border: 1px solid #fff;
}
.details{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
background-color: #0addec;
}
.details h3,h6,h5{
    color: #fff;

}
.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.3rem;
}
.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom:3rem;
}
.details .one a{
    color: #fff;
    background: #f13a11;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.details .one a:hover{
    background-color: #fff;
    color: #f13a11;

}
.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}
.details .two h3{
    font-size: 2.5rem;
   
}
details .two h5{
    font-size: 1.1rem;
   
}
details .two p{
    font-size: 1.1rem;
    color:#fff;
    margin-bottom: 0.8rem;
}

.team-member {
    display: inline-block;
    width: 33%;
    height: 25%;
    top: 0;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #313034;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adding shadow */
}
.team-member:hover {
    display: inline-block;
    width: 33%;
    height: 25%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f5800b;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adding shadow */
    transition-delay: 0.5s;
}

.team-photo {
    width: 100%;
    height: 90%;
    z-index: 1;
    box-shadow: 30px rgba(86, 1, 1, 0.3); /* Adding shadow */
}
.team-photo:hover{
    z-index: -1;
} 

.team{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.team .people1{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.team .people1 h2,p{
    z-index: -1;
}

.team{
    background-image: url('studyroom.jpg');
    display: flex;
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ourteam{
    color: #f5800b;

}
.team-member h2,p{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
#we{
    color: #000;
}
.second{
    width: 100%;
    height: auto;
}
